html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    overflow: auto; /* добавить полосу прокрутки */ 
    ;
}

.page-header {
    width: 100%;
    /*height: 128px;*/
    background: url(/static/icons/bg.jpg) repeat;
}

.page-header img {
/*    width: 128px;
    height: 128px;*/
    display: block;
    margin: 0;
    border: none;
}

.page-footer {
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 30px;
    display: table;
}

.page-footer p {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: gray;
    font-size: 8pt;
}

.main-body {
    min-height: -webkit-calc(100% - 94px);
    min-height: calc(100% - 94px);
    background-color: rgb(230, 230, 230);
}

.sidebar { /* Навигация по сайту */
    width: 100px; /* Ширина меню */
    float: left; /* Состыковка с другим слоем по горизонтали */
}

.sidebar ul {
    list-style: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
}

.content { /* Основное содержание страницы */
    margin-left: 135px; /* Отступ слева */
}
