{% extends 'base.html' %}

{% load staticfiles %}

{% block title-text %}
    SPIDR Launcher
{% endblock title-text %}

{% block head-include %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head-include %}

{% block main-body %}
    {% block content %}
        <div class="sidebar">
            <h2>Apps</h2>
            <nav>
                <ul>
                    {% for application in applications %}
                        <li><a href="{% url 'launcher_home' %}{{ application.name }}/">{{ application.label }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="content">
            main-body -> content <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />test
        </div>
    {% endblock content %}
{% endblock main-body %}
