{% extends 'base.html' %}

{% block main-body%}
    {% block content %}
        <div class="sidebar">
            <h2>Apps</h2>
            <ul>
                <li><a href="link1.html">app 1</a></li>
                <li><a href="link2.html">app 2</a></li>
                <li><a href="link3.html">app 3</a></li>
                <li><a href="link4.html">app 4</a></li>
            </ul>
        </div>
        <div class="content">
            main-body -> content <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />test
        </div>
    {% endblock content %}
{% endblock main-body %}
