{% extends 'base.html' %}

{% load staticfiles %}

{% block title-text %}
    SPIDR Launcher
{% endblock title-text %}

{% block head-include %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock head-include %}

{% block page-header %}
    {% block menu %}
        {{ menu_html }}
    {% endblock menu %}
{% endblock page-header %}

{% block main-body %}
    {% block content %}
        {% if applications %}
            <div class="sidebar">
                <h2>Apps</h2>
                <nav>
                    <ul>
                        {% for application in applications %}
                            <li><a href="{% url 'launcher_home' %}{{ application.name }}/">{{ application.label }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="content">

            </div>
        {% endif %}
    {% endblock content %}
{% endblock main-body %}
